{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">


<div class="row mt-5">
    <div class="col-md-5 col-sm-6 text-center">
        <a class="btn btn-light" href="{% url 'post-list' %}">Back to post board</a>
    </div>
</div>


<div class="row justify-content-center mt-3">
    <div class="col-md-5 col-sm-6 text-center">
        <p><strong>{{post.author}}</strong> {{post.created_on| timesince}} ago</p>
        <p>{{post.body}}</p>
        <hr>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-md-5 col-sm-12 text-center">
        <form action="" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="">
                <button class="btn btn-success mt-3"><i class="fa-solid fa-comments"></i> Send post</button>
            </div>
        </form>
    </div>
</div>


<div class="comment-list">
    {% for comment in comments %}
<div class="row justify-content-center mt-5">
    
<div class="col-md-5 col-sm-12 text-start border-bottom position-relative border rounded-1">
    <div class="row border-bottom">
        <div class="col-6 text-start">
        <p><strong>{{comment.author}}</strong></p></div>
        <div class="col-6 text-end">
         {{comment.created_on | timesince}} ago
    </div>


    </div>

        <p>{{comment.comment}}</p>
        <a class="stretched-link" href="{% url 'post-detail' post.pk %}"></a>
    </div>
    
</div>

{% endfor %}
</div>



</div>


{% endblock %}
